In [ ]:
import os

In [26]:
import pandas as pd

In [27]:
dir = '../../../../../../parser/data_yahoo_finance/datasets/'
list_dir = pd.Series(os.listdir(dir))
print(list_dir[0])

df_data_2y_tesla.csv

In [28]:
print(dir + list_dir[0])

../../../../../../parser/data_yahoo_finance/datasets/df_data_2y_tesla.csv

In [81]:
df = pd.read_csv(dir + list_dir[0])

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          501 non-null    object
 1   Open          501 non-null    float64
 2   High          501 non-null    float64
 3   Low           501 non-null    float64
 4   Close         501 non-null    float64
 5   Volume        501 non-null    int64
 6   Dividends     501 non-null    float64
 7   Stock Splits  501 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 31.4+ KB

In [83]:
df.describe().round(2)

         Open    High     Low   Close        Volume  Dividends  Stock Splits
count  501.00  501.00  501.00  501.00  5.010000e+02      501.0         501.0
mean   277.28  283.37  270.93  277.33  9.941185e+07        0.0           0.0
std     84.29   86.09   82.02   84.17  3.411977e+07        0.0           0.0
min    140.56  144.44  138.80  142.05  3.716760e+07        0.0           0.0
25%    211.30  215.67  206.94  210.60  7.605230e+07        0.0           0.0
50%    252.73  258.62  246.63  252.40  9.401630e+07        0.0           0.0
75%    338.90  346.14  331.48  338.53  1.156970e+08        0.0           0.0
max    475.90  488.54  457.51  479.86  2.874998e+08        0.0           0.0

In [84]:
print(df.head(2))
df.iloc[-2:,:]

                        Date        Open        High         Low       Close  \
0  2023-11-03 00:00:00-04:00  221.149994  226.369995  218.399994  219.960007
1  2023-11-06 00:00:00-05:00  223.979996  226.320007  215.000000  219.270004

      Volume  Dividends  Stock Splits
0  119534800        0.0           0.0
1  117335800        0.0           0.0

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
499,2025-10-31 00:00:00-04:00,446.75000,458.000000,443.690002,456.559998,82980800,0.0,0.0
500,2025-11-03 00:00:00-05:00,455.98999,474.070007,453.799988,466.169586,47270073,0.0,0.0

In [155]:
df_cp = df.copy()

In [89]:
type(df_cp.iloc[0,0])

str

In [ ]:
# Способы преобразования даты
date = pd.to_datetime(df_cp.iloc[0,0][:10], format=('%Y-%m-%d'))
print()
print(type(date))
print(date)
print()
date = date.date()
print(date)
print(type(date))

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2023-11-03 00:00:00

2023-11-03
<class 'datetime.date'>

In [ ]:
from datetime import datetime, timedelta

In [106]:
date = date + timedelta(days=28)
print(date)

2023-12-29

In [68]:
df_cp.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-03 04:00:00+00:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0
2023-11-06 05:00:00+00:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0
2023-11-07 05:00:00+00:00,219.979996,223.119995,215.720001,222.179993,116900100,0.0,0.0
2023-11-08 05:00:00+00:00,223.149994,224.149994,217.639999,222.110001,106584800,0.0,0.0
2023-11-09 05:00:00+00:00,219.750000,220.800003,206.679993,209.979996,142110500,0.0,0.0

In [69]:
df_cp.index = df_cp.index.normalize()

In [70]:
df_cp.head(1)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-03 00:00:00+00:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0

In [159]:
df_cp.index = pd.to_datetime(df_cp['Date'], utc=True).dt.date

In [160]:
df_cp.head(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date_ten
Date,,,,,,,,,
2023-11-03,2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0,2023-11-03
2023-11-06,2023-11-06 00:00:00-05:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0,2023-11-06

In [129]:
df_cp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 501 entries, 2023-11-03 00:00:00-04:00 to 2025-11-03 00:00:00-05:00
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          501 non-null    object
 1   Open          501 non-null    float64
 2   High          501 non-null    float64
 3   Low           501 non-null    float64
 4   Close         501 non-null    float64
 5   Volume        501 non-null    int64
 6   Dividends     501 non-null    float64
 7   Stock Splits  501 non-null    float64
 8   Date_ten      501 non-null    object
dtypes: float64(6), int64(1), object(2)
memory usage: 55.3+ KB

In [157]:
df_cp['Date_ten'] = pd.to_datetime(df_cp['Date'], utc=True).dt.date

In [161]:
df_cp.head(3)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date_ten
Date,,,,,,,,,
2023-11-03,2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0,2023-11-03
2023-11-06,2023-11-06 00:00:00-05:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0,2023-11-06
2023-11-07,2023-11-07 00:00:00-05:00,219.979996,223.119995,215.720001,222.179993,116900100,0.0,0.0,2023-11-07

In [162]:
df_cp['Date_time'] = pd.to_datetime(df_cp['Date'], utc=True).dt.time

In [163]:
df_cp.head(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date_ten,Date_time
Date,,,,,,,,,,
2023-11-03,2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0,2023-11-03,04:00:00
2023-11-06,2023-11-06 00:00:00-05:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0,2023-11-06,05:00:00

In [169]:
df_cp['Date_month'] = df_cp['Date_ten'].astype(str).str[:7]

In [171]:
# Для удалении колонки если получилась не очень)
#df_cp = df_cp.drop(columns=['Date_month'])

In [245]:
df_cp_gb = df_cp.groupby('Date_month').agg({
    'Date_ten' : 'max',
    'Open' : 'max'
})
df_cp_gb.head(5)

              Date_ten        Open
Date_month
2023-11     2023-11-30  249.210007
2023-12     2023-12-29  263.660004
2024-01     2024-01-31  250.080002
2024-02     2024-02-29  204.179993
2024-03     2024-03-28  200.520004

In [237]:
idx = df_cp.groupby('Date_month')['Date_ten'].idxmax()

In [247]:
idx.head(2)

Date_month
2023-11    2023-11-30
2023-12    2023-12-29
Name: Date_ten, dtype: object

In [239]:
df_cp_gb = df_cp.loc[idx, ['Date_ten', 'Open']]

In [240]:
df_cp_gb

              Date_ten        Open
Date
2023-11-30  2023-11-30  245.139999
2023-12-29  2023-12-29  255.100006
2024-01-31  2024-01-31  187.000000
2024-02-29  2024-02-29  204.179993
2024-03-28  2024-03-28  177.449997
2024-04-30  2024-04-30  186.979996
2024-05-31  2024-05-31  178.500000
2024-06-28  2024-06-28  199.550003
2024-07-31  2024-07-31  227.899994
2024-08-30  2024-08-30  208.630005
2024-09-30  2024-09-30  259.040009
2024-10-31  2024-10-31  257.989990
2024-11-29  2024-11-29  336.079987
2024-12-31  2024-12-31  423.790009
2025-01-31  2025-01-31  401.529999
2025-02-28  2025-02-28  279.500000
2025-03-31  2025-03-31  249.309998
2025-04-30  2025-04-30  279.899994
2025-05-30  2025-05-30  355.519989
2025-06-30  2025-06-30  319.899994
2025-07-31  2025-07-31  319.609985
2025-08-29  2025-08-29  347.230011
2025-09-30  2025-09-30  441.519989
2025-10-31  2025-10-31  446.750000
2025-11-03  2025-11-03  455.989990