In [ ]:
import os
import numpy as np

In [38]:
# прежде чем пробовать загрузить файл(ы), можно проверить, что указанный путь возвращает и настроить под себя.
dir_file = '../../../../../../parser/data_yahoo_finance/datasets/'
name_file = 'df_data_2y_tesla.csv'
list_dir = np.array(os.listdir(dir_file))
print(list_dir)
print(list_dir[0])

['df_data_2y_tesla.csv']
df_data_2y_tesla.csv

In [83]:
# проверка, как записывается полный путь
full_dir = dir_file + list_dir[0]
print('Конкатенация строки с array[0]', full_dir)
full_dir_two = dir_file + list_dir
print('Конкатенация строки с array, но в итоге обращаемся к ячейке [0]: ',full_dir_two[0])
print(type(full_dir_two))
df_full = pd.DataFrame(full_dir_two)
print('Конкатенация строки с array без указания ячейки и преобразуем в ДатаФрейм: ', df_full)
list_one = list(df_full.loc[0,0])
print('Одна ячейка из ДатаФрейма через list: ', list_one)
array_one = np.array(df_full.iloc[0,0])
print('Одна ячейка из ДатаФрейма через array: ', array_one)

Конкатенация строки с array[0] ../../../../../../parser/data_yahoo_finance/datasets/df_data_2y_tesla.csv
Конкатенация строки с array, но в итоге обращаемся к ячейке [0]:  ../../../../../../parser/data_yahoo_finance/datasets/df_data_2y_tesla.csv
<class 'numpy.ndarray'>
Конкатенация строки с array без указания ячейки и преобразуем в ДатаФрейм:                                                     0
0  ../../../../../../parser/data_yahoo_finance/da...
Одна ячейка из ДатаФрейма через list:  ['.', '.', '/', '.', '.', '/', '.', '.', '/', '.', '.', '/', '.', '.', '/', '.', '.', '/', 'p', 'a', 'r', 's', 'e', 'r', '/', 'd', 'a', 't', 'a', '_', 'y', 'a', 'h', 'o', 'o', '_', 'f', 'i', 'n', 'a', 'n', 'c', 'e', '/', 'd', 'a', 't', 'a', 's', 'e', 't', 's', '/', 'd', 'f', '_', 'd', 'a', 't', 'a', '_', '2', 'y', '_', 't', 'e', 's', 'l', 'a', '.', 'c', 's', 'v']
Одна ячейка из ДатаФрейма через array:  ../../../../../../parser/data_yahoo_finance/datasets/df_data_2y_tesla.csv

In [43]:
import pandas as pd

In [50]:
df_data_from_file = pd.read_csv(dir_file + list_dir[0])
df_data_from_file.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0
1,2023-11-06 00:00:00-05:00,223.979996,226.320007,215.000000,219.270004,117335800,0.0,0.0
2,2023-11-07 00:00:00-05:00,219.979996,223.119995,215.720001,222.179993,116900100,0.0,0.0
3,2023-11-08 00:00:00-05:00,223.149994,224.149994,217.639999,222.110001,106584800,0.0,0.0
4,2023-11-09 00:00:00-05:00,219.750000,220.800003,206.679993,209.979996,142110500,0.0,0.0

In [84]:
df_data_from_file.size

4008

In [85]:
df_data_from_file.shape

(501, 8)

In [86]:
df_data_from_file.dtypes

Date             object
Open            float64
High            float64
Low             float64
Close           float64
Volume            int64
Dividends       float64
Stock Splits    float64
dtype: object

In [89]:
df_data_from_file[df_data_from_file['Date'] > '2025-10-01'].head(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
477,2025-10-01 00:00:00-04:00,443.799988,462.290009,440.750000,459.459991,98122300,0.0,0.0
478,2025-10-02 00:00:00-04:00,470.540009,470.750000,435.570007,436.000000,137009000,0.0,0.0

In [91]:
df_data_from_file[df_data_from_file['Date'] > '2025-10-01'].tail(2)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
499,2025-10-31 00:00:00-04:00,446.75000,458.000000,443.690002,456.559998,82980800,0.0,0.0
500,2025-11-03 00:00:00-05:00,455.98999,474.070007,453.799988,466.169586,47270073,0.0,0.0

In [142]:
filter_df_data_2025_10_01 = df_data_from_file[df_data_from_file['Date'] > '2025-10-01']

In [154]:
type(filter_df_data_2025_10_01['Date'])

pandas.core.series.Series

In [170]:
info_df_2025_10_01_to_max = pd.DataFrame({
    'Количество строк' : [filter_df_data_2025_10_01.shape[0]],
    'Количество столбцов' : [filter_df_data_2025_10_01.shape[1]],
    'Количество ячеек' : [filter_df_data_2025_10_01.size],
# если смотреть не на столбец, много лишнего выводится в строке
    'Начальная дата' : [filter_df_data_2025_10_01.min()['Date'][:10]],
# так как дата у нас в принципе первой идет, можно по индексу обратиться к столбцу
    'Максимальная дата' : [filter_df_data_2025_10_01.max().iloc[0][:10]]
# все ключи в ДатаФрейме будут колонками, спомощью .T мы их сделаем строками
    }, index = ['Значения']).T
print(info_df_2025_10_01_to_max)

                       Значения
Количество строк             24
Количество столбцов           8
Количество ячеек            192
Начальная дата       2025-10-01
Максимальная дата    2025-11-03

In [179]:
from datetime import datetime, timedelta

In [ ]:
df_new_date = df_data_from_file.copy()

In [207]:
df_new_date.head(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-03 00:00:00-04:00,221.149994,226.369995,218.399994,219.960007,119534800,0.0,0.0

In [209]:
df_new_date['Date'] = pd.to_datetime(df_new_date['Date'], errors='coerce', utc=True)

In [212]:
print(df_new_date['Date'].dtype)

datetime64[ns, UTC]

In [ ]:
filter_df_25y_10m = df_new_date[(df_new_date['Date'].dt.year == 2025) & (df_new_date['Date'].dt.month == 10)]
filter_df_25y_10m.shape

(23, 8)

In [250]:
filter_df_25y_10m_plus_cl = filter_df_25y_10m.copy()
filter_df_25y_10m_plus_cl['Date_y_m_d'] = filter_df_25y_10m_plus_cl['Date']

In [251]:
filter_df_25y_10m_plus_cl.head(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date_y_m_d
477,2025-10-01 04:00:00+00:00,443.799988,462.290009,440.75,459.459991,98122300,0.0,0.0,2025-10-01 04:00:00+00:00

In [252]:
filter_df_25y_10m_plus_cl['Date_y_m_d'] = filter_df_25y_10m_plus_cl['Date_y_m_d'].dt.strftime('%Y-%m-%d')
filter_df_25y_10m_plus_cl.head(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Date_y_m_d
477,2025-10-01 04:00:00+00:00,443.799988,462.290009,440.75,459.459991,98122300,0.0,0.0,2025-10-01

In [266]:
info_df_25y_10m = pd.DataFrame({
    'Минимальная дата' : [filter_df_25y_10m_plus_cl['Date_y_m_d'].min()],
    'Максимальная дата' : [filter_df_25y_10m_plus_cl['Date_y_m_d'].max()],
    'Стоимость во время закрытия' : [filter_df_25y_10m_plus_cl.loc[
        filter_df_25y_10m_plus_cl['Date_y_m_d']
        == filter_df_25y_10m_plus_cl['Date_y_m_d'].max(),
        'Close'].iloc[0].round(2)]
}).T
print(info_df_25y_10m)

                                      0
Минимальная дата             2025-10-01
Максимальная дата            2025-10-31
Стоимость во время закрытия      456.56